<div class="list-group-item d-flex justify-content-between mx-3">
  <div class="d-flex float-left align-items-center m-2">
    <img src="{{user.picture}}" onerror="this.src='../../../assets/default_user.png'" width="50" height="50" class="rounded-circle mx-3">
    <span class="mx-2" style="width: 9em; word-break: break-word"><b>{{user.name}}</b></span>
  </div>
  <div class="d-flex float-right ml-3 my-2">
    <div class="dropdown ml-3" *ngIf="showRoles">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 10em">
        {{showRole(user)}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let role of allRoles" class="dropdown-item" (click)="emitRoleEvent(role)">{{getRole(role)}}</a>
      </div>
    </div>
    <button class="btn btn-danger mx-3" (click)="emitEvent()" *ngIf="isDelete"><i class="fas fa-trash"></i></button>
    <button class="btn btn-primary mx-3" (click)="emitEvent()" *ngIf="!isDelete"><i class="fas fa-plus"></i></button>
  </div>
</div>
