<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage !== ''">
  <strong>Exito: </strong> {{ successMessage }}
  <button type="button" class="close" (click)="successMessage = ''">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage !== ''">
  <strong>Error: </strong> {{ errorMessage }}
  <button type="button" class="close" (click)="errorMessage = ''">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
