<h1>{{ title }}</h1>

<form name="form" [formGroup]="form">
  <div class="md-form">
    <input type="text" class="form-control" aria-describedby="wordHelp"
           placeholder="Ingrese una palabra" [maxLength]="50" formControlName="input"
           [ngClass]="{'is-invalid': touched && isInvalid(inputWord.value) }"
           (ngModelChange)="touched=true;" #inputWord/>

    <div *ngIf="touched && isInvalid(inputWord.value)" class="help-block">
      <small class="error">Debe ingresar una palabra</small>
    </div>

    <button type="submit" class="btn btn-primary" (click)="addWord(inputWord.value); inputWord.value=''"
            [disabled]="isInvalid(inputWord.value)">
      Agregar palabra
    </button>
  </div>
</form>

<table class="table">
  <tr>
    <th>Word</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let word of words">
    <td><b>{{word.word}}</b></td>
    <td>
      <button class="btn btn-danger" (click)="deleteWord(word)">Delete</button>
    </td>
  </tr>
</table>
