<app-menu-bar [organizationId]="organizationId"></app-menu-bar>

<h1 class="text-center mt-5">{{ title }}</h1>

<div class="d-flex justify-content-center my-3">
  <app-alert-success [successMessage]="successMessage" (close)="successMessage = ''"></app-alert-success>
  <app-alert-error [errorMessage]="errorMessage" (close)="errorMessage = ''"></app-alert-error>
</div>

<div class="d-flex justify-content-center">
  <div class="w-75">
    <div class="form-group">

      <label class="mt-3"><b>Tipo de canal</b></label>
      <div class="form-control">
        <i class="mr-3 fas fa-lock"></i>
        <mat-slide-toggle color="primary" [(ngModel)]="channel.isPublic" (change)="onInputChange()"></mat-slide-toggle>
        <i class="mx-3 fas fa-lock-open"></i>
      </div>

      <label class="mt-3"><b>Nombre del canal</b></label>
      <input type="text" class="form-control"
             placeholder="Nombre del canal" maxlength="50"
             [(ngModel)]="channel.name" (change)="onInputChange()"/>

      <label class="mt-3"><b>Descripción del canal</b></label>
      <input type="text" class="form-control"
             placeholder="Descripción del canal" maxlength="50"
             [(ngModel)]="channel.description" (change)="onInputChange()"/>

      <label class="mt-3"><b>Mensaje de bienvenida del canal</b></label>
      <input type="text" class="form-control"
             placeholder="Mensaje de bienvenida" maxlength="50"
             [(ngModel)]="channel.welcome" (change)="onInputChange()"/>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-primary" [disabled]="isInvalid()" (click)="saveChannel()">Guardar</button>
</div>
