<app-menu-bar [organizationId]="organizationId"></app-menu-bar>
<h1 class="text-center my-5">{{ title }}</h1>

<div class="d-flex justify-content-center my-3">
  <app-alert-success [successMessage]="successMessage" (close)="successMessage = ''"></app-alert-success>
  <app-alert-error [errorMessage]="errorMessage" (close)="errorMessage = ''"></app-alert-error>
</div>

<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Miembros del canal">
    <ng-template ngbTabContent>
      <div *ngIf="channelUsers.length == 0" class="d-flex justify-content-center my-5">
        <p> El canal no tiene usuarios </p>
      </div>
      <div class="d-flex justify-content-center my-4">
        <ul class="list-group w-50">
          <div *ngFor="let user of channelUsers">
            <app-user [user]="user" (onClick)="deleteUser($event)"></app-user>
          </div>
        </ul>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Agregar Usuarios">
    <ng-template ngbTabContent>
      <div *ngIf="organizationUsers.length == 0" class="d-flex justify-content-center my-5">
        <p> Todos los usuarios pertenecen al canal </p>
      </div>
      <div class="d-flex justify-content-center my-4">
        <ul class="list-group w-50">
          <div *ngFor="let user of organizationUsers">
            <app-user [user]="user" [isDelete]="false" (onClick)="addUser($event)"></app-user>
          </div>
        </ul>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
