<app-menu-bar [organizationId]="organizationId"></app-menu-bar>
<h1 class="text-center my-5">{{ title }}</h1>

<div class="d-flex justify-content-center my-3">
  <app-alert-success [successMessage]="successMessage" (close)="successMessage = ''"></app-alert-success>
  <app-alert-error [errorMessage]="errorMessage" (close)="errorMessage = ''"></app-alert-error>
</div>

<div *ngIf="!loading && bots.length == 0" class="d-flex justify-content-center my-5">
  <p> La organización no tiene bots </p>
</div>

<div class="d-flex justify-content-center">
  <ul class="list-group w-50">
    <li *ngFor="let bot of bots" class="list-group-item d-flex justify-content-between">
      <span style="width: 80%;word-break: break-word">{{bot.name}}</span>
      <button class="btn btn-danger" (click)="{}"><i class="fas fa-trash"></i></button>
    </li>
  </ul>
</div>
