<mat-toolbar style="background: linear-gradient(to right, #493240, #A00965); color: white" class="d-flex justify-content-between">
  <div class="d-flex float-left align-items-center">
    <img src="../../../assets/favicon.png" class="mr-2">
    <h1 class="mr-4"><b>Hypechat</b></h1>
    <ng-container *ngIf="isLogged">
      <button mat-button (click)="navigateToGeneralStatistics()"><b>Admin</b></button>
      <button mat-button (click)="navigateToOrganization()" *ngIf="showOrganizations"><b>Organizaciones</b></button>
      <ng-container *ngIf="organizationId" class="ml-1">
        <button mat-button (click)="redirect('edit')">
          <b>Perfil</b>
        </button>
        <button mat-button (click)="redirect('channels')">
          <b>Canales</b>
        </button>
        <button mat-button (click)="redirect('users')">
          <b>Usuarios</b>
        </button>
        <button mat-button (click)="redirect('statistics')">
          <b>Estadísticas</b>
        </button>
        <button mat-button (click)="redirect('forbiddenWords')">
          <b>Palabras Prohibidas</b>
        </button>
        <button mat-button (click)="redirect('bots')">
          <b>Bots</b>
        </button>
      </ng-container>
    </ng-container>
  </div>
  <div class="d-flex float-right" *ngIf="isLogged">
    <button mat-button (click)="signOut()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</mat-toolbar>

<div class="mt-2 mx-3" *ngIf="organizationId && organization">
  <p class="d-flex justify-content-center" style="text-align: center;word-break: break-word">
    <b>Organización: {{organization.name}}</b>
  </p>
  <hr>
</div>
