<app-menu-bar [showOrganizations]="false"></app-menu-bar>

<h1 class="text-center mt-5">{{ title }}</h1>

<div class="d-flex justify-content-center mt-5">
  <button class="btn btn-primary" routerLink="/organization/create">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div class="d-flex justify-content-center my-3">
  <app-alert-success [successMessage]="successMessage" (close)="successMessage = ''"></app-alert-success>
  <app-alert-error [errorMessage]="errorMessage" (close)="errorMessage = ''"></app-alert-error>
</div>

<div *ngIf="organizations.length == 0" class="d-flex justify-content-center my-5">
  <p> No hay organizaciones </p>
</div>

<div class="d-flex justify-content-center my-3">
  <div class="form-group w-50">
    <div *ngFor="let organization of organizations">
      <app-organization [organization]="organization" (delete)="deleteOrganization($event)"></app-organization>
    </div>
  </div>
</div>

