<app-menu-bar [organizationId]="organizationId"></app-menu-bar>
<h1 class="text-center my-5">{{ title }}</h1>

<div class="d-flex justify-content-center">
  <div class="w-50">
    <input type="text" class="form-control"
           placeholder="Email del usuario" maxlength="50"
           [ngClass]="{ 'is-invalid': isInvalid() }"
           [(ngModel)]="email"/>

    <div *ngIf="isInvalid()" class="text-danger">
      <small class="error">Debe ingresar un email</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary h-100 ml-4" (click)="addUser()"
          [disabled]="isInvalid() || !email">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div class="d-flex justify-content-center my-3">
  <app-alert-success [successMessage]="successMessage" (close)="successMessage = ''"></app-alert-success>
  <app-alert-error [errorMessage]="errorMessage" (close)="errorMessage = ''"></app-alert-error>
</div>

<div *ngIf="users.length == 0" class="d-flex justify-content-center my-5">
  <p> La organización no tiene usuarios </p>
</div>

<div class="d-flex justify-content-center">
  <ul class="list-group w-50">
    <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between">
      <img src="{{user.picture}}" width="50" height="50" class="rounded-circle">
      <span class="mr-5" style="width: 15em;word-break: break-word">{{user.name}}</span>
      <div class="d-flex justify-content-between">
        <div class="dropdown mx-5">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 10em">
            {{showRole(user)}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="changeRole(user, 'creator')">Creador</a>
            <a class="dropdown-item" (click)="changeRole(user, 'administrator')">Administrador</a>
            <a class="dropdown-item" (click)="changeRole(user, 'member')">Miembro</a>
          </div>
        </div>
        <button class="btn btn-danger" (click)="deleteUser(user)"><i class="fas fa-trash"></i></button>
      </div>
    </li>
  </ul>
</div>

