<h1>{{ title }}</h1>

<form name="form" [formGroup]="form">
  <div class="md-form">
    <input type="text" class="form-control" aria-describedby="wordHelp"
           placeholder="Ingrese una palabra" [maxLength]="50" formControlName="input"
           [ngClass]="{'is-invalid': touched && isInvalid(inputWord.value) }"
           (ngModelChange)="touched=true;" #inputWord/>

    <div *ngIf="touched && isInvalid(inputWord.value)" class="help-block">
      <small class="error">Debe ingresar una palabra</small>
    </div>

    <button type="submit" class="btn btn-primary" (click)="addWord(inputWord.value); inputWord.value=''"
            [disabled]="isInvalid(inputWord.value)">
      Agregar palabra
    </button>
  </div>
</form>

<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage !== ''">
  <strong>Exito:</strong> {{ successMessage }}
  <button type="button" class="close" (click)="successMessage = ''">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage !== ''">
  <strong>Error:</strong> {{ errorMessage }}
  <button type="button" class="close" (click)="errorMessage = ''">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<table class="table">
  <tr>
    <th>Palabra</th>
    <th>Accion</th>
  </tr>
  <tr *ngFor="let word of words">
    <td><b>{{word.word}}</b></td>
    <td>
      <button class="btn btn-danger" (click)="deleteWord(word)">Delete</button>
    </td>
  </tr>
</table>
