<h1>{{ title }}</h1>

<div class="md-form">
  <input type="text" class="form-control" aria-describedby="wordHelp"
         placeholder="Ingrese una palabra" maxlength="50"
         [ngClass]="{'is-invalid': isInvalid() }"
         [(ngModel)]="newWord"/>

  <div *ngIf="isInvalid()" class="help-block">
    <small class="error">Debe ingresar una palabra</small>
  </div>

  <button type="submit" class="btn btn-primary" (click)="addWord()"
          [disabled]="isInvalid() || newWord==''">
    Agregar palabra
  </button>
</div>

<app-alert-success [successMessage]="successMessage"></app-alert-success>

<app-alert-error [errorMessage]="errorMessage"></app-alert-error>

<table class="table">
  <tr>
    <th>Palabra</th>
    <th>Accion</th>
  </tr>
  <tr *ngFor="let word of words">
    <td><b>{{word.word}}</b></td>
    <td>
      <button class="btn btn-danger" (click)="deleteWord(word)">Borrar</button>
    </td>
  </tr>
</table>
