/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-control+.input-group-addon {
  background: linear-gradient(to right, #493240, #A00965);
  color: white;
}

button.btn-info.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

button.btn-danger.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

button.btn-primary.custom-style {
  border: 0;
  background-color: #A00965;
}

button.btn-primary.custom-style:hover {
  border: 0;
  background-color: #6f2250;
}

button.btn-primary.custom-style:disabled {
  border: 0;
  background-color: rgba(160, 9, 101, 0.5);
}

button.btn-primary.dropdown-toggle.custom-style {
  border: 0;
  background: linear-gradient(to right, rgba(73, 50, 64, 0.9), rgba(160, 9, 101, 0.9));
}

button.btn-primary.dropdown-toggle.custom-style:hover, button.btn-primary.dropdown-toggle.custom-style:focus {
  border: 0;
  background: linear-gradient(to right, #493240, #A00965);
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background: linear-gradient(to right, #493240, #A00965);
}

#search-bar {
  border-radius: 0;
}

input.form-control.is-invalid {
  border-color: red;
}
